<h3 class="text-content--heading mdc-typography--headline4 light">
  Hi. Salut. வணக்கம்.
</h3>
<div class="text-content--body mdc-typography--body1">
  I decided to make a portfolio page for myself during the COVID-19 quarantine but now that I'm here, 
  I am at a loss of words. This website was primarily made to be a creative outlet for me. The design
  process for this website has been very rewarding and has allowed me to explore and push my aesthetic
  boundaries.
</div>
<div class="text-content--body mdc-typography--body1">
  The gist is that I like computers and programming. I am a freelance software developer and I interned 
  at Microsoft in the summer of 2019.  I have an undergraduate degree in Computer Science from NITK Surathkal 
  and I am looking to pursue a career in research and development. I am passionate about design and design 
  philosophy and I'm looking forward to opportunities that would help me gain new perspectives.
</div>
<div class="text-content--body social-row">
  <a class="mdc-typography--body1" href="https://www.github.com/gurupunskill">GitHub</a>
  <a class="mdc-typography--body1" href="https://www.linkedin.com/in/guru-irl">LinkedIn</a>
</div>
<div class="medium-spacer"> </div>
<div class="full-width-content">
  <img src="assets/images/me.webp"/>
</div>