@import 'functions';

// Content containers

.page {
  width: 100%;
  max-width: rem(1280px);
  margin: auto;
}

.page--content {
  margin-top: rem(72px);
}

.text-content--heading {
  margin: rem(32px) rem(64px) rem(16px) rem(64px);
}

.text-content--body {
  margin: 0 rem(64px) rem(8px) rem(64px);
  text-align: justify;
  // font-weight: 300;
}

.blog-content {
  max-width: rem(1024px);
  margin: auto;
}

.standard-content {
  margin: 0 rem(64px) 0 rem(64px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width-content {
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Content overrides
img {
  max-width: 100%;
  margin: rem(8px);
  transition: all 0.3s ease 0s;
}

img:hover {
  transform: scale(1.025);
}

blockquote {
  margin: 0 rem(64px) rem(8px) rem(64px);
  padding: rem(16px);
  background-color: #f7f7f7;
  border-left: rem(4px) solid #444444;
}
  blockquote .text-content--body {
    margin: 0;
    color: #444444;
  }

  blockquote blockquote {
    margin: rem(8px) 0 0 0;
  }

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  font-family: $mdc-typography-font-family;
  margin: rem(16px) auto rem(16px) auto;
}

a:-webkit-any-link {
  display: inline-block;
  position: relative;
  color: rgb(0, 0, 206);
  cursor: pointer;
  text-decoration: none;
}

  a:-webkit-any-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 206);;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;

  }

  a:-webkit-any-link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  a:-webkit-any-link:hover {
    color: rgb(0, 0, 206);
  }

// Spacing
.no-bottom-margin {
  margin-bottom: 0 !important;
}

.small-spacer {
  width: 100%;
  height: rem(16px);
}

.medium-spacer {
  width: 100%;
  height: rem(32px);
}

.large-spacer {
  width: 100%;
  height: rem(64px);
}