@import 'functions';

//************************************************
// Content containers
.text-content--heading {
  margin: rem(32px) rem(64px) rem(16px) rem(64px);
}

.text-content--body {
  margin: 0 rem(64px) rem(8px) rem(64px);
  text-align: justify;
  // font-weight: 300;
}

.standard-content {
  margin: 0 rem(64px) 0 rem(64px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width-content {
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//************************************************
// Content overrides
img {
  // width: 100%;
  max-width: 100%;
  margin: rem(8px) 0 rem(8px) 0;
}

blockquote {
  margin: 0 rem(64px) rem(8px) rem(64px);
  padding: rem(8px) 0 rem(8px) rem(16px);
  background-color: #eeeeee;
  border-left: rem(4px) solid #777777;
}
  blockquote .text-content--body {
    margin: 0;
  }

  blockquote blockquote {
    margin: rem(8px) 0 0 0;
  }

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  margin-top: rem(16px);
  margin-bottom: rem(16px);
  font-family: "Roboto";
}

//************************************************
// Spacing
.no-bottom-margin {
  margin-bottom: 0 !important;
}

.small-spacer {
  width: 100%;
  height: rem(16px);
}

.medium-spacer {
  width: 100%;
  height: rem(32px);
}

.large-spacer {
  width: 100%;
  height: rem(64px);
}

//************************************************