@use "@material/typography" with (
  $font-family: unquote("Inter, Roboto, Helvetica, Arial, sans-serif")
);
@use "@material/typography/mdc-typography";

$mdc-typography-font-family: unquote("Inter, Roboto, Helvetica, Arial, sans-serif");

h1, h2, h3, h4, h5, h6, a, p, span {
  margin: 0;
}

.light {
  font-weight: 300 !important;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.bold {
  font-weight: 700 !important;
}