<spinner *ngIf="!loaded"></spinner>
<div *ngIf="loaded">
  <div *ngFor="let category of categories; let i = index">
    <h1 class="text-content--heading mdc-typography--headline1">{{category}}.</h1>
    <div class="standard-content">
      <portfolio-item 
        *ngFor="let item of portfolio[category]; let j = index"
        [title]="item.title" 
        [subtitle]="item.subtitle"
        [description]="descriptions[category][j]"
        [bgImage]="item.bgImage"
        [bgColor]="item.bgColor"
        [fontColor]="item.fontColor"
      ></portfolio-item>
    </div>
    <div class="large-spacer"></div>
  </div>
</div>