<div *ngFor="let category of categories; let i = index">
  <h1 class="text-content--heading mdc-typography--headline1">{{category}}.</h1>
  <div class="standard-content">
    <div *ngFor="let row of portfolio[category]" class="portfolio-row">
      <portfolio-item 
        *ngFor="let item of row"
        [title]="item.title" 
        [subtitle]="item.subtitle"
        [description_file]="item.description_file"
        [bgImage]="item.bgImage"
        [bgColor]="item.bgColor"
        [fontColor]="item.fontColor"
        ></portfolio-item>
    </div>
  </div>
  <div class="large-spacer"></div>
</div>