@import "theme";

.portfolio-content {
  width: 95%;
  display: flex;
  height: fit-content;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.break {
  flex-basis: 100%;
  height: 0;
}

portfolio-item {
  flex: 1;
  display: block;
  min-width: min(100%, 300px);
  @include margin-bottom(8px);
  @include margin-right(4px);
  @include margin-left(4px);
  @include margin-top(0px);

}