<div class="page">
  <header class="navigation-bar">
    <div class="navigation-bar--content">
      <div class="app-title" routerLink="/">
        <span id="title-name">Gurupungav N.</span>
      </div>
      <nav class="navigation-bar--links">
        <a class="navigation-bar--link" routerLinkActive="navigation-bar--link--selected" routerLink="about">About</a>
        <a class="navigation-bar--link" routerLinkActive="navigation-bar--link--selected" routerLink="portfolio">Portfolio</a>
        <a class="navigation-bar--link" routerLinkActive="navigation-bar--link--selected" routerLink="blog">Blog</a>
      </nav>
    </div>
  </header>
  <div class="page--content">
    <router-outlet></router-outlet>
  </div>
  <footer class="page--footer mdc-typography--caption">
    &copy; Copyright 2020 Gurupungav Narayanan
  </footer>
</div>