<!-- <h1 class="text-content--heading mdc-typography--headline1">Blog.</h1> -->
<spinner *ngIf="!loaded"></spinner>
<div *ngIf="loaded" class="full-width-content">
  <div class="post-listing" 
    *ngFor="let post of blogIndex.posts; let i = index" 
    (click)="gotoPost(post.file_name)" 
    [ngStyle]="postStyles[i]"
  >
    <!-- [ngStyle]="{'background-image':'url(' + coverImagePaths[i] + ')', 'background-color': post.cover_color}" -->
    <div class="text-content--heading">  
      <h2 class="post-listing--title mdc-typography--headline2">{{post.title}}</h2>
    </div>
    <div class="text-content--heading">  
      <h6 class="mdc-typography--headline5 light">{{post.description}}</h6>
      <div class="small-spacer"></div>
      <h6 class="mdc-typography--headline6">{{parsedDates[i]}}</h6>
    </div>
  </div>
</div>
<div *ngIf="postImages">
  <img *ngFor="let source of postImages" [src]="source" (load)="imgLoaded()" hidden>
</div>