@import "theme";

html, body {
  height: 100%;
  margin: 0;
}

div:focus {
  outline: none;
}

// Scrollbar
::-webkit-scrollbar {
  width: rem(8px);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: rem(4px);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}